{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.9",
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ],
    "@babel/preset-stage-0",
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "module-resolver", {
        "cwd": "babelrc",
        "root": ["./src"],
        "alias": {
          "^~(.+)": "./src/browser/\\1",
          "^>(.+)": "./src/\\1",
          "withStyles": "isomorphic-style-loader/lib/withStyles"
        }
      }
    ],
    "react-hot-loader/babel",
    "react-loadable/babel"
  ]
}
